DOMAIN=luxefm.example.com
POSTGRES_PASSWORD=your_strong_password_here
RABBITMQ_PASSWORD=your_strong_password_here
ICECAST_SOURCE_PASSWORD=your_strong_password_here
ICECAST_ADMIN_PASSWORD=your_strong_password_here
ICECAST_RELAY_PASSWORD=your_strong_password_here
